block vars
  - var active = 'media';

extends base

prepend head
  script(type='text/javascript', src='js/jquery.min.js')
  //script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.min.js")

  link(rel="stylesheet", href="css/justifiedGallery.min.css", type="text/css")
  link(rel="stylesheet", href="css/colorbox.css", type="text/css")
  script(type='text/javascript', src='js/jquery.justifiedGallery.min.js')
  script(type='text/javascript', src='js/jquery.colorbox-min.js')
  script(type='text/javascript', src='js/site.js')

block content
  div#main.body.home.bg-white
    //div#page-intro
    h1 Media pages!
    section#content.bg-white
      h3 this is conteeeeentttt
      p Fucking shite
      - console.log('### In media.jade:' )
      - console.log(albums)
      //- console.log(likethis)
      //- console.log(foo)
      each files, albumName in albums
        h3.capitalize= albumName
        .gallery
          each item in files
            a(href=item['src'], rel=item['rel'], title=item['title'])
              img(src=item['src_t'])

    h1 Media pages!
    h1 Media pages!
    h1 Media pages!