block vars
  - var active = "foto's";

extends base

prepend head
  script(type='text/javascript', src='js/jquery.min.js')
  //script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.min.js")

  link(rel="stylesheet", href="css/justifiedGallery.min.css", type="text/css")
  link(rel="stylesheet", href="css/colorbox.css", type="text/css")
  script(type='text/javascript', src='js/jquery.justifiedGallery.min.js')
  script(type='text/javascript', src='js/jquery.colorbox-min.js')
  script(type='text/javascript', src='js/site.js')

block content
  div#main.body.home.bg-white
    section#content.bg-white
      each data, albumName in albums
        h2.capitalize= albumName
        != data.description
        .gallery
          each item in data.files
            a(href=item['src'], rel=item['rel'], title=item['title'])
              img(src=item['src_t'])